body{
  background-color: rgb(40,150,136);
  text-align: center;
}
h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 44;
  color:rgb(252,234,62);
  text-align: center;
}

 img {
  border: solid 10px white;
  margin: 5px;
}
    